<div>
    <a class="btn" href="/restaurants">Back to Restaurants List</a>

    <h2>Restaurant: {{restaurants.name}}</h2>
	<img class="item-img" src="{{restaurants.image}}" />

    <h2 id="menulist"> {{restaurants.Menus.length}} Menus</h2>
	{{#each restaurants.Menus}} <!-- for each restaurant in restaurants, create this html -->
	<article class="clearfix item-container block">
        <h3>Menu :{{title}} </h3>
	</article>

    <h2 id="menuitems"> {{MenuItems.length}} Menu Items</h2>
	{{#each this.MenuItems}} <!-- for each restaurant in restaurants, create this html -->
	<article class="clearfix item-container block">
		<h3>{{this.name}}: ${{this.price}}</h3>
    </article>

    {{/each}}
    {{/each}}

</div>
	

    